.root {
  margin: var(--space-18) 0;
}
.scroll {
  max-width: 100%;
  overflow-x: auto;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-12);
  padding-top: var(--space-8);
  font-size: var(--text-xs);
  color: var(--text-placeholder);
}
.pages button {
  padding: var(--space-4) var(--space-8);
  border: var(--border-width) solid var(--border);
  border-radius: var(--radius-xs);
}
